@page "/banque/isc/mettre-en-banque"
@attribute [Authorize(Roles = "Super Admin,Admin,Direction,Commercial")]



@if (IsLoaded)
{
    <Card_1 Title="A METTRE EN BANQUE">
        <BanqueView IsMettreEnBanque="true"/>
    </Card_1>
}
else
{
    <div class="center-screen">
        <Loading_1 />
    </div>
}


@code {
    bool IsLoaded = false;
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        IsLoaded = true;
    }
}