@page "/caisse/alimentations"
@attribute [Authorize(Roles = "Super Admin,Admin,Direction,Caissier")]


@if (IsLoaded)
{
	<CaisseView type="1" Title="Alimentations de caisse" />
}
else
{
	<div class="center-screen">
		<Loading_1 />
	</div>
}

@code {
	bool IsLoaded = false;
	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(100);
		IsLoaded = true;
	}
}