@page "/unites"
@attribute [Authorize(Roles = "Super Admin,Admin,Direction,Agence Voyage")]
<Card_1 Title="LISTE DES UNITES">
    <RadzenContent Container="main">
        <div class="grid-90">
            <SfGrid Height="100%" Toolbar="@(new List<string>() { "Add", "Delete" })" DataSource="@(items)" AllowPaging>
                <GridPageSettings PageSize="100"></GridPageSettings>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="Syncfusion.Blazor.Grids.EditMode.Dialog">
                    <HeaderTemplate>
                        <span>@((context as P_UNITE).U_Intitule)</span>
                    </HeaderTemplate>
                </GridEditSettings>
                <GridEvents OnActionBegin="UpdateListe" TValue="P_UNITE"></GridEvents>
                <GridTemplates>
                    <EmptyRecordTemplate>
                        <Empty></Empty>
                    </EmptyRecordTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field=@nameof(P_UNITE.cbMarq) HeaderText="#" IsPrimaryKey="true" Visible="false" IsIdentity="true"></GridColumn>
                    <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field=@nameof(P_UNITE.U_Intitule) HeaderText="Intitulé"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </RadzenContent>
</Card_1>




@code
{
    [CascadingParameter]
    public SessionDT session { get; set; } = new SessionDT();
    DB db = new DB();
    List<P_UNITE> items = new List<P_UNITE>();
    NumericEditCellParams parameters = new NumericEditCellParams() { Params = new NumericTextBoxModel<object>() { Decimals = 2, Format = "N2" } };
    protected override async Task OnInitializedAsync()
    {
        db = session.db;
        items = session.db.P_UNITE.Where(a => (a.U_Intitule ?? "") != "").ToList();
    }
    public void UpdateListe(ActionEventArgs<P_UNITE> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {

            if (args.Action == "Add")
            {
                P_UNITE item = args.Data;
                item.cbIndice = (short)item.cbMarq;
                db.P_UNITE.Add(item);
                db.SaveChanges();

            }
            if (args.Action != "Add")
            {
                var local = db.Set<P_UNITE>().Local.FirstOrDefault(a => a.cbMarq == args.Data.cbMarq);
                if (local != null)
                {
                    db.Entry(local).State = EntityState.Detached;
                }
                db.Entry(args.Data).State = EntityState.Modified;
                db.SaveChanges();
            }

        }

        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            var local = db.Set<P_UNITE>().Local.FirstOrDefault(a => a.cbMarq == args.Data.cbMarq);
            if (local != null)
            {
                db.Entry(local).State = EntityState.Detached;
            }
            db.Entry(args.Data).State = EntityState.Deleted;
            db.SaveChanges();
        }
    }


}