@page "/gestion-achats"

@attribute [Authorize]

<PageTitle>Achats</PageTitle>
<div class="row pt-5 px-5">
    <div class="col-12">
        <RadzenText Text="Gestion des achats" TextStyle="Radzen.Blazor.TextStyle.DisplayH2" TagName="Radzen.Blazor.TagName.Auto" TextAlign="Radzen.TextAlign.Center"></RadzenText>
    </div>
</div>

@code {


}

