@page "/gestion-stock"

@attribute [Authorize]

<PageTitle>Stock</PageTitle>
<div class="row pt-5 px-5">
    <div class="col-12">
        <RadzenText Text="Gestion de stock" TextStyle="Radzen.Blazor.TextStyle.DisplayH2" TagName="Radzen.Blazor.TagName.Auto" TextAlign="Radzen.TextAlign.Center"></RadzenText>
    </div>
</div>

@code {


}

