@page "/av-offres"
@attribute [Authorize(Roles = "Super Admin,Admin,Direction,Agence Voyage")]


<Card_1 Title="LISTE DES OFFRES SPECIALS">
    <RadzenContent Container="main">
        <div class="grid-90">
            <SfGrid Height="100%" Toolbar="@(new List<string>() { "Add", "Delete" })" DataSource="@(items)" AllowPaging>
                <GridPageSettings PageSize="100"></GridPageSettings>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="Syncfusion.Blazor.Grids.EditMode.Dialog">
                    <HeaderTemplate>
                        <span>@((context as API_T_Information).Valeur)</span>
                    </HeaderTemplate>
                </GridEditSettings>
                <GridEvents OnActionBegin="UpdateListe" TValue="API_T_Information"></GridEvents>
                <GridTemplates>
                    <EmptyRecordTemplate>
                        <Empty></Empty>
                    </EmptyRecordTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field=@nameof(API_T_Information.id) HeaderText="#" IsPrimaryKey="true" Visible="false" IsIdentity="true"></GridColumn>
                    <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field=@nameof(API_T_Information.Valeur) HeaderText="Designation"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </RadzenContent>
</Card_1>



@code
{
    [CascadingParameter]
    public SessionDT session { get; set; } = new SessionDT();
    DB db = new DB();
    List<API_T_Information> items = new List<API_T_Information>();
    NumericEditCellParams parameters = new NumericEditCellParams() { Params = new NumericTextBoxModel<object>() { Decimals = 2, Format = "N2" } };
    protected override async Task OnInitializedAsync()
    {
        db = session.db;
        items = session.db.API_T_Information.Where(a => (a.Valeur ?? "") != "" && a.Tab == 11).ToList();
    }
    public void UpdateListe(ActionEventArgs<API_T_Information> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {

            if (args.Action == "Add")
            {
                API_T_Information item = args.Data;
                item.Tab = 11;
                db.API_T_Information.Add(item);
                db.SaveChanges();

            }
            if (args.Action != "Add")
            {
                var local = db.Set<API_T_Information>().Local.FirstOrDefault(a => a.id == args.Data.id);
                if (local != null)
                {
                    db.Entry(local).State = EntityState.Detached;
                }
                db.Entry(args.Data).State = EntityState.Modified;
                db.SaveChanges();
            }

        }

        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            var local = db.Set<API_T_Information>().Local.FirstOrDefault(a => a.id == args.Data.id);
            if (local != null)
            {
                db.Entry(local).State = EntityState.Detached;
            }
            db.Entry(args.Data).State = EntityState.Deleted;
            db.SaveChanges();
        }
    }


}