@page "/appels-offre"



  @if (IsLoaded)
{
	<Card_1 Title="APPELS D'OFFRE">
		<ProjetsListe IsAppelOffre="true"></ProjetsListe>
	</Card_1>
}
else
{
	<div class="center-screen">
		<Loading_1 />
	</div>
}


@code {
	bool IsLoaded = false;
	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(100);
		IsLoaded = true;
	}
}