


@media screen and (min-width: 1024px) and (max-width: 1279px) 
{
    .grid-80 {
        height: 77vh;
    }

    .grid-90 {
        height: 86vh;
    }

    .grid-84 {
        height: 81vh;
    }

    .grid-70 {
        height: 67vh;
    }
    .grid-67 {
        height: 62vh;
    }

    .grid-34 {
        height: 30vh;
    }
    .grid-50 {
        height: 47vh;
    }
}


@media screen and (min-width: 1280px) and (max-width: 1365px) 
{
    .grid-80 {
        height: 77vh;
    }

    .grid-90 {
        height: 86vh;
    }

    .grid-84 {
        height: 81vh;
    }

    .grid-70 {
        height: 67vh;
    }
    .grid-67 {
        height: 62vh;
    }

    .grid-34 {
        height: 30vh;
    }
    .grid-50 {
        height: 47vh;
    }

}


@media screen and (min-width: 1366px) and (max-width: 1599px) 
{
    .grid-80 {
        height: 77vh;
    }

    .grid-90 {
        height: 86vh;
    }

    .grid-84 {
        height: 81vh;
    }

    .grid-70 {
        height: 67vh;
    }
    .grid-67 {
        height: 62vh;
    }

    .grid-34 {
        height: 30vh;
    }
    .grid-50 {
        height: 47vh;
    }
}


@media screen and (min-width: 1600px) and (max-width: 1919px) {
    .grid-80 {
        height: 78vh;
    }

    .grid-90 {
        height: 87vh;
    }

    .grid-84 {
        height: 82vh;
    }

    .grid-70 {
        height: 68vh;
    }
    .grid-67 {
        height: 62vh;
    }

    .grid-34 {
        height: 30vh;
    }
    .grid-50 {
        height: 47vh;
    }
}


@media screen and (min-width: 1920px) {
    .grid-80 {
        height: 80vh;
    }

    .grid-90 {
        height: 88vh;
    }

    .grid-84 {
        height: 84vh;
    }

    .grid-70 {
        height: 70vh;
    }
    .grid-67 {
        height: 67vh;
    }
    .grid-34 {
        height: 34vh;
    }
    .grid-50 {
        height: 50vh;
    }
}
