@media (max-width: 767px) {

    .ant-form-item {
        height: auto;
    }
    .rz-chart {
        transform: scale(0.75);
    }
    .content-1 .title {
        font-size: 16px;
    }
    .grid-container {
        height: 100% !important;
        min-height: 70vh;
    }
}

