<div class="spinnerContainer">
    <div class="spinner-11"></div>
    <div class="loader-11">
        <p>loading</p>
        <div class="words">
            <span class="word">Loading</span>
            <span class="word">Please Wait</span>
            <span class="word">Fetching Data</span>
            <span class="word">Processing</span>
            <span class="word">Just a Moment</span>
        </div>
    </div>
</div>