@page "/av-contrats-clients"
@attribute [Authorize(Roles = "Super Admin,Admin,Direction,Commercial,Agence Voyage")]
 @if (IsLoaded)
{
	<Card_1 Title="LISTE DES CONTRATS CLIENTS">
		<ContratsListe Type="0" />
	</Card_1>
}
else
{
	<div class="center-screen">
		<Loading_1 />
	</div>
}


@code{
	bool IsLoaded = false;
	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(100);
		IsLoaded = true;
	}
}
