@page "/reglements-clients"
@attribute [Authorize(Roles = "Super Admin,Admin,Direction,Commercial")]



@if (IsLoaded)
{
    <Card_1 Title="LISTE DES REGLEMENTS CLIENTS">
        <div class="grid-container no-border">
            <DetailsReglement IsClients="true" Height="80vh" DO_Domaine="0"></DetailsReglement>
        </div>
    </Card_1>
}
else
{
    <div class="center-screen">
        <Loading_1 />
    </div>
}


@code {
    bool IsLoaded = false;
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        IsLoaded = true;
    }
}