@page "/collaborateurs"
@attribute [Authorize]


<Card_1 Title="LISTE DES COLLABORATEURS">
    <RadzenContent Container="main">
         <div class="grid-84">

         </div>
    </RadzenContent>
</Card_1>